-content_for :title do
  ="Initiatieven op Grunn.io"

-content_for :main do
  %section.whole.paperpile.initiatieven
    .third
      .title.one
        %i.sweets-heart.sweets-large
        %h2{title: 'Initiatieven'} Initiatieven
      %p Initiatieven: Ontdek welke meetups er in Groningen worden georganiseerd en voeg je eigen initiatief toe.
      = link_to new_initiative_path, class: 'btn large' do
        %i.sweets-plus
        Toevoegen
    .two-thirds
      .title.two
        %i.icon-share-alt.grey-icon.left
        %h3 Alle initiatieven
      %ul.list
        - @initiatives.each do |initiative|
          %li.list-item= link_to(initiative.name, initiative)
