%h1 Listing initiatives

%table
  %tr
    %th
    %th
    %th

  - @initiatives.each do |initiative|
    %tr
      %td= link_to 'Show', initiative
      %td= link_to 'Edit', edit_initiative_path(initiative)
      %td= link_to 'Destroy', initiative, :confirm => 'Are you sure?', :method => :delete

%br

= link_to 'New Initiative', new_initiative_path
