# Ruby
*.gem
*.rbc
.bundle
.config
coverage
InstalledFiles
lib/bundler/man
pkg
rdoc
spec/reports
test/tmp
test/version_tmp
tmp

# Ignore .lock files, eg Gemfile.lock
# *.lock

# YARD artifacts
.yardoc
_yardoc
doc/

# Rails
*.rbc
*.sassc
.sass-cache
capybara-*.html
.rspec
/.bundle
/vendor/bundle
/log/*
# /tmp/*
/db/*.sqlite3
/public/system/*
/coverage/
/spec/tmp/*
**.orig
rerun.txt
pickle-email-*.html
/bin

# Pow
.powenv
.rbenv-version

# Middleman
build

# OSX
.DS_Store
iTunesArtwork

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes
.rails_generators~
zeus.json
public/uploads/*
# config/database.yml
config/deploy.rb
config/settings.yaml

config/settings.yml
