%header.whole
  .logo.frontpage
    =link_to(root_path) do
      =image_tag('logo.png')
  .introduction
    %p Grunn.io is de open database met technologiebedrijven, mensen en initiatieven uit het technologisch innovatieve Groningen.
  %hr
  %nav
    %ul
      %li= link_to "bedrijven", companies_path
      %li= link_to "personen", people_path
      %li= link_to "initiatieven", initiatives_path
      / %li= link_to "over", "#"


