%section.sidebar.fourth.paperpile
  %i.sweets-info.sweets-large
  %p= raw "Grunn.io is een database vol met internet technologie, van de vruchtbare bodem van Groningen. Maak kennis met professionals als #{p = Person.all.sample; link_to(p.name, person_path(p))} en de mensen achter #{c = Company.all.sample; link_to(c.name, company_path(c))}, voeg zelf gegevens toe of lees het laatste nieuws."
