%p#notice= notice

-content_for :page_header do
  %h1 Welcome to grunn.io!

-content_for :main do
  %section.whole.bedrijven
    .third
      .bigtitle
        %i.sweets-lab.sweets-large
        %h2{title: 'Bedrijven'} Bedrijven
      %p Open database van IT bedrijven en producten uit Groningen: ontdek de parels uit het Noorden of voeg bedrijfsgegevens toe.
      = link_to "toevoegen", new_company_path, class: 'btn'
    .third
      .title.blue
        %i.icon-share-alt.blue-icon.left
        %h3 Recent toegevoegd
    .third
      .title.blue
        %i.icon-random.blue-icon.left
        %h3 Willekeurige bedrijven

  %section.whole.personen
    .third
      .bigtitle
        %i.sweets-lab.sweets-large
        %h2{title: 'Personen'} Personen
      %p Personen, wie kent ze niet?.
      = link_to "toevoegen", new_person_path, class: 'btn'
    .third
      .title.blue
        %i.icon-share-alt.blue-icon.left
        %h3 Recent toegevoegd
    .third
      .title.blue
        %i.icon-random.blue-icon.left
        %h3 Willekeurige personen

  %section.whole.initiatieven
    .third
      .bigtitle
        %i.sweets-lab.sweets-large
        %h2{title: 'Initiatieven'} Initiatieven
      %p Dag en nacht, altijd wat te doen.
      = link_to "toevoegen", new_initiative_path, class: 'btn'
    .third
      .title.blue
        %i.icon-share-alt.blue-icon.left
        %h3 Recent toegevoegd
    .third
      .title.blue
        %i.icon-random.blue-icon.left
        %h3 Willekeurige initiatieven


