%p#notice= notice

-content_for :page_header do
  %h1 Welcome to grunn.io!

-content_for :introduction do
  %section.whole.introduction
    %p Grunn.io is een database vol met internet technologie, van de vruchtbare bodem van Groningen. Maak kennis met bedrijven als Voys en de personen achter Online24,voeg zelf gegevens toe of lees het laatste nieuws.


-content_for :main do
  %section.whole.bedrijven
    .third
      .bigtitle
        %i.sweets-lab.sweets-large
        %h2{title: 'Bedrijven'} Bedrijven
      %p Open database van IT bedrijven en producten uit Groningen: ontdek de parels uit het Noorden of voeg bedrijfsgegevens toe.
      = link_to "toevoegen", new_company_path, class: 'btn'
    .third
      .title.blue
        %i.icon-share-alt.blue-icon.left
        %h3 Recent toegevoegd
    .third
      .title.blue
        %i.icon-random.blue-icon.left
        %h3 Willekeurig bedrijf

