-content_for :title do
  ="Bedrijven op Grunn.io"

-content_for :main do
  %section.whole.paperpile.bedrijven
    .third
      .title.one
        %i.sweets-lab.sweets-large
        %h2{title: 'Bedrijven'} Bedrijven
      %p Ontdek wat er in Groningen gevestigd is of voeg jouw eigen Groningse onderneming toe.
      = link_to new_company_path, class: 'btn large' do
        %i.sweets-plus
        Toevoegen
    .two-thirds
      .title.two
        %i.icon-share-alt.grey-icon.left
        %h3 Alle bedrijven
      %ul.list
        - @companies.each do |company|
          %li.list-item= link_to(company.name, company)
