.well.sidebar-nav
  %h3 admin
  %ul.nav.nav-list
    %li.nav-header TOEVOEGEN
    %li= link_to t(Company.model_name.human), new_admin_company_path
    %li= link_to t(Initiative.model_name.human), new_admin_initiative_path
    %li= link_to t(Person.model_name.human), new_admin_person_path
    %li= link_to t(Job.model_name.human), new_admin_person_path
